## How to use this file
#
# Add patterns to the section they apply to, sorted by:
#
#   1. absolute paths to or patterns for files (with a `/` prefix)
#   2. absolute paths to or patterns for directories
#   3. relative paths to or patterns for files (without a `/` prefix)
#   4. relative paths to or patterns for directories
#   5. pattern exceptions (sorted as above)
#
# Sort them alphanumerically within each section.
#
# If no section fits, create one. No path or pattern should exist without a
# section or label.
#

## Sensitive files
#
# To override these ignored files on a case-by-case basis,
# instead of adding a rule to this file, force add them:
#
# ```
# git add path/to/file --force
# ```
#
# This reduces the risk of accidentally committing files that happen to match
# the ignore pattern exception, or a file being removed and readded
# unintentionally in the future.
#
.env
.env.*
*.bks*
*.csv*
*.crt*
*.db*
*.dex*
*.dump*
*.key*
*.numbers*
*.ods*
*.ots*
*.pem*
*.sql*
*.sqlite3*
*.tfstate*
*.tfvars*
*.tsv*
*.xlr*
*.xls*
*.xml*

## Dependencies
/Brewfile.lock.json
/.bundle/
/node_modules/
/vendor/bundle/

## Temporary files
/coverage/
/log/
tmp/

## Build artefacts
/public/assets/
