<% # navigation styled for Bootstrap 3.0 %>
<div class="container">
  <nav class="navbar navbar-dark bg-inverse">
    <ul class="nav navbar-nav clearfix">
      <li class="nav-item">
        <button aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler hidden-sm-up nav-link" data-target="#exCollapsingNavbar2" data-toggle="collapse" type="button">&#9776;</button>
      </li>
    </ul>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <%= link_to "Rails bootstrap", root_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav">
        <%= render "layouts/navigation_links" %>
      </ul>
    </div>
  </nav>
</div>

